<article class="sidebar">
  <h1 class="sidebar-title">A few tips!</h1>
  <p class="sidebar-body">While you visit Tamil Nadu, be prepared for a tropical weather. We joke that we have three seasons - hot, hotter and hottest :)</p>
  
</article>
