<div class="maincontent">
  <article class="article">
    <h1 class="article-title">What is Tamil Nadu?</h1>
      <p>Tamil Nadu is a state in South India. People in Tamil Nadu speak Tamil, which is the oldest language in the World that is still active. Home to passinate people who take pride in their culture, Tamil Nadu is a must visit for anyone who wants to understand the diversity in India.</p>
  </article><!-- article -->

  <article class="sidebar">
    <h1 class="sidebar-title">Who should come?</h1>
    <ul class="sidebar-body">
      <li>Anybody interested in temples, lush green scenaries, and an ancient and thriving culture with the oldest language that is still spoken.</li>
      <li>Culture enthusiasts</li>
      <li>Religious people</li>
    </ul>
  </article><!-- article -->
</div>
